<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe single product purchase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- custom CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card" style="width: 18rem;">
            <img src="img/flat-lay-desk-arrangement-with-laptop.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Macbook Air 13"3'</h5>
              <h3 class="fw-bolder">900 $</h3>
              <p class="card-text">Worlds fastest laptop ever to use for anykind of your daily task</p>
              <a href="/checkout" class="btn btn-primary">Make Payment</a>
            </div>
          </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>